<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntervalApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IntervalWatchWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IntervalWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>watchkitapp Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30A7015A2F17933A00109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A701702F17933C00109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A7017A2F17933C00109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A701952F17A00000109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A701FD2F18A44C00109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A702092F18A44E00109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A702132F18A44E00109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A702462F18BA6600109C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
